KINDE_CLIENT_ID=9d079ed05a814029a77fb71a839c8cc6
KINDE_CLIENT_SECRET=2KnFXErXFd9cV3kWnrye9XrMFW8YvmOaYYbCw5huJgGSixm
KINDE_ISSUER_URL=https://beyourahi.kinde.com
KINDE_SITE_URL=http://localhost:3000
KINDE_POST_LOGOUT_REDIRECT_URL=http://localhost:3000